body, html {
  margin: 0;
  height: 100%;
  width: 100%;  
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(143,184,36);
  background: linear-gradient(107deg, rgba(143,184,36,1) 32%, rgba(255,0,219,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}